name: Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Generate Gradle wrapper
        run: gradle wrapper

      - name: Build
        run: ./gradlew build

      - name: Upload jar (exclude dev jar)
        uses: actions/upload-artifact@v4
        with:
          name: jar
          path: |
            build/libs/*.jar
            !build/libs/*-dev.jar
