name: Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: gradle wrapper
      - run: ./gradlew build

      - uses: actions/upload-artifact@v4
        with:
          name: jar
          path: build/libs/*.jar
